# Target
CONFIG_IDF_TARGET="esp32s3"

# Custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Board has 16 MB flash
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

# Console over native USB
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# Bluetooth + NimBLE
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
